<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.security.auth.mapper.RoleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.security.auth.entity.RoleInfo">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_remark" property="roleRemark"/>
        <result column="active_status" property="activeStatus"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_code, role_remark, active_status, create_time
    </sql>

    <select id="listRoleByUserId" parameterType="string" resultType="org.example.security.auth.entity.RoleInfo">
        SELECT
        a.id, a.role_name, a.role_code, a.role_remark, a.active_status, a.create_time
        FROM `role_info` a INNER JOIN `user_role_link` b ON a.id=b.role_id
        WHERE
        b.user_id = #{userId} and a.active_status = 1
    </select>

</mapper>
